<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
	<head>
		<title>Users</title>
	</head>
	<body>
		<h1>Users</h1>
		<div th:if="${#lists.size(users) == 1}">
			<form th:action="@{/users/{userId}/update(userId=${user.userId})}" method="post">
				<div>
					Username: <input type="text" th:field="${user.username}" />
				</div>
				<div>
					Password: <input type="password" th:field="${user.password}" />
				</div>
				<div>
					Full Name: <input type="text" th:field="${user.name}" />
				</div></br>
				<div>
					Address Line 1: <input type="text" th:field="${user.address.addressLine1}">
				</div>
				<div>
					Address Line 2: <input type="text" th:field="${user.address.addressLine2}">
				</div>
				<div>
					City: <input type="text" th:field="${user.address.city}">
				</div>
				<div>
					Region: <input type="text" th:field="${user.address.region}">
				</div>
				<div>
					Country: <input type="text" th:field="${user.address.country}">
				</div>
				<div>
					Zip Code: <input type="text" th:field="${user.address.zipCode}">
				</div></br>
				<div>
					<input type="submit" value="Update User Account" />
				</div>
			</form>
			<form th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post">
				<input type="submit" value="Delete User Account" />
			</form></br>
			<form method="post" th:action="@{/users/{userId}/accounts(userId=${user.userId})}">
				<div>
					<h3>Accounts</h3>
				</div>
				<div th:each="account : ${user.accounts}">
					<a th:href="@{'/users/'+${user.userId}+'/accounts/'+${account.accountId}}">
						<span th:text="${account.accountName}"></span>
					</a>
				</div></br>
				<div>
					<input type="submit" value="Create New Bank Account"/>
				</div>

			</form></br>
			<div>
				<a th:href="@{/users}">Back</a>
			</div>
		</div>
		<div th:unless="${#lists.size(users) == 1}" th:each="user : ${users}">
			<a th:href="@{/users/{userId}(userId=${user.userId})}">
				<span th:text="${user.userId}"></span>
			</a><br/>
			<span th:text="${user.username}"></span><br/>
			<span th:text="${user.name}"></span><br/>
			<span th:text="${user.password}"></span>
			<div th:each="account : ${user.accounts}">
				<a th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}" th:text="${account.accountName}"></a>
			</div>
			<hr/>
		</div>
	</body>
</html>
